@import url('../root-variables.css');

.pcard-container{
    width: 250px;
    height: 330px;
    background: #ECF0F1;
    padding: .5rem;
    border-radius: 5px;
    letter-spacing: 2px;
}

.pcard-img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
}

.pcard-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pcard-content{
    padding-top: .5rem;
}

.pcard-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--blue);
    font-family: var(--oswald);
}

.pcard-content h4{
    display: inline-block;
    text-align: center;
    color: var(--black);
    cursor: pointer;
}

.pcard-content h4:hover{
    color: #5D6D7E;
}

.pcard-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-family: var(--raleway);
}

.pcard-price label:first-child{
    font-family: var(--oswald);
}


.pcard-button-cont{
    padding-top: .5rem;
    margin-top: 10px;
}

.pcard-button-cont button{
    width: 100%;
    height: 35px;
    background: var(--green);
    cursor: pointer;
    border: none;
    outline: none;
    font-family: var(--oswald);
    font-size: 1.1rem;
}

.pcard-button-cont button:hover{
    background: #a4df45;
}