@import url('../root-variables.css');

.products-body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-top: 2px solid var(--blue);
}

.second-nav{
    width: 100%;
    height: 50px;
    background: gray;
}

.product-container{
    width: 100%;
    height: 92%;
    background:indigo;
    display: flex;
    overflow-y: hidden;
}

.product-side-menu{
    width: 300px;
    height: 100%;
    background: var(--white);
}

.product-content{
    width: 100%;
    height: 100%;
    background:#ABB2B9;
    padding: 1rem;
}

.product-list{
    width: 400px;
    height: 100%;
    background:lightgreen;
}