@import url('../root-variables.css');

.prod-btn-item, .prod-btn-scd{
    width: 100%;
    height: 100%;
    font-family: var(--raleway);
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 600;
}

.prod-btn-item:hover{
    background: var(--green);
}

.prod-btn-item i{
    float: right;
    /* display: none; */
}


.prod-btn-scd{
    height: 30px;
    padding-left: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.prod-btn-scd:hover{
    color: var(--blue);
}



.show-plus{
    display: inline;
}

.hide-plus{
    display: none;
}