@import url('../root-variables.css');

.sideM-li{
    width: 100%;
    height: auto;
}

.sideM-button , .sideM-subbtn{
    width: 100%;
    height: 100%;
    font-family: var(--raleway);
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    font-weight: 600;
}

.sideM-button:hover{
    background: var(--green);
}

.sideM-button i{
    float: right;
}

.sideM-sublist{
    width: 100%;
    height: 0px;
    transition: height 0.5s ease-in-out;
}
.sl-active{
    height: auto;
}

.sideM-subbtn{
    height: 30px;
    padding-left: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.sideM-subbtn:hover{
    color: var(--blue);
}