@import url('../root-variables.css');

.us-page-body{
    width: 100vw;
    height: auto;
    padding: 1rem;
    position: relative;
}

.us-page-body::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../../images/inf-p-0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}

.us-page-container{
    width: 70vw;
    height: auto;
    position: relative;
    border-radius: 10px;
    padding: 2rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 2rem auto;
    background: var(--white);
    z-index: 1;
}

.ubi-container{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    /* position: relative; */
}

@media screen and (max-width: 650px){
    .us-page-body{
        height: auto;
    }

    .us-page-container{
        width: 90vw;
        /* position: relative; */
    }
}


/* .us-page-body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: var(--green);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.us-page-body svg{
    position: absolute;
    bottom: 0;
}

.us-svg{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url('../../svg/Waves/wave-blue-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.abtUs-body{
    width: 100%;
    height: auto;
    background: var(--green);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
}

.abtUs-img{
    width: 100%;
    height: auto;
}

.abtUs-img img{
    width: 100%;
    height: 100%;
}

.abtUs-content{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 650px){
    .us-page-body{
        height: 100%;
    }
} */