.contactf-container{
    width: 100vw;
    height: 450px;
    background: rgb(0,159,227);
    background: linear-gradient(0deg, rgba(0,159,227,1) 0%, rgba(145,193,69,1) 30%);
    box-sizing: border-box;
}

.contact-title{
    width: 100%;
    height: 30px;
    font-family: var(--oswald);
    color: var(--black);
    text-align: center;
    transform: translateY(20px);
}

.contactf-body{
    width: 80vw;
    height: 100%;
    margin: auto;
    padding-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
}

.contact-links{
    width: 280px;
    height: 90%;
    padding: 1rem;
    color: var(--black);
}

.contact-links p, .contact-links ul li{
    width: 100%;
}

.contact-links p{
    text-align: justify;
}

.contact-links ul{
    margin-top: 1rem;
    margin-left: .5rem;
}

.contact-links h3, .contact-form{
    font-family: var(--oswald);
}

.contact-links li{
    height: 30px;
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 700;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-links a{
    width: auto;
    height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0px 10px;
    transition: all 0.2s ease;
}

.contact-links li a:hover{
    font-size: 1.2rem;
    color:var(--white);
    text-shadow:   1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #273746,
    1px 5px 1px #273746,
    1px 6px 1px #273746;
}

.contact-links a:visited{
    color: var(--black);
}

.contact-form{
    width: 40vw;
    height: 85%;
}

.contact-form h3{
    color: var(--black);
    margin-bottom: 10px;
    display: none;
}

.contact-form input, textarea{
    width: 100%;
    padding: .5rem;
    margin-bottom: 10px;
    border:none;
    outline: none;
}

.contact-form input{
    height: 40px;
    transition: all 0.2s ease;
}

.contact-form input::placeholder{
    color: var(--green);
}

.contact-form textarea{
    height: 150px;
    resize: none;
    transition: all 0.2s ease;
}

.contact-input, .contact-form textarea{
    font-family: var(--raleway);
    letter-spacing: 2px;
}

.contact-form input[type="submit"]{
    width: 100px;
    float: right;
    cursor: pointer;
    background: var(--white);
    font-family: var(--oswald);
    letter-spacing: 2px;
    font-size: .85rem;
    border-bottom: 5px solid #D0D3D4;
}

.contact-form input[type="submit"]:hover{
    background: var(--green);
    color: var(--white);
    font-size: .95rem;
    transform: translate(0px,5px);
    border-bottom: 2px solid var(--green);
}

.contact-input:focus{
    box-shadow: 2px 2px 1px #273746,
                3px 3px 1px #273746,
                4px 4px 1px #273746;
}
.contact-form textarea:focus{
    box-shadow: 2px 2px 1px #273746,
                3px 3px 1px #273746,
                4px 4px 1px #273746;
}

@media screen and (max-width: 650px){

    .contactf-container{
        height: auto;
    }

    .contactf-body{
        width: 100vw;
        height: auto;
        margin: auto;
        padding-top: 20px;
        flex-direction: column;
    }

    .contact-links h3{
        display: none;
    }

    .contact-links ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .contact-links ul li{
        width: auto;
        flex-grow: 1;
    }

    .contact-form, .contact-links {
        width: 80%;
    }

    .contact-form h3{
        display: block;
    }

    .contact-form input[type="submit"]:hover{
        background: var(--blue);
        color: var(--white);
        font-size: .95rem;
        transform: translate(0px,5px);
        border-bottom: 2px solid var(--green);
    }
}