@import url('../root-variables.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-body{
    height: 80%;
    /* background: #009fe3; */
    /* transform: translateY(-50px); */
    /* background: rgb(0,159,227);
    background: linear-gradient(0deg, rgba(0,159,227,1) 0%, rgba(145,193,69,1) 77%); */
}

.divider{
    width: 100%;
    height: 250px;
    background: var(--white);
    overflow: hidden;
    border: none;
}

.divider-bot{
    width: 100%;
    height: 200px;
    margin-top: 2.5rem;
    background: none;
    overflow: hidden;
    border: none;
    
}

.d-rotate{
    transform: rotate(180deg);
}

.content-div{
    width: 100%;
    height: auto;
    background: var(--white);
}

.content__grid_sections{
    width: 100%;
    height: auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.promo-divider{
    width: 100vw;
    height: 100px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.promo-divider h2{
    font-family: var(--oswald);
    font-size: 4rem;
    color: var(--green);
    border-bottom: 10px dotted var(--blue);
    /* text-shadow: 2px 2px 2px #273746; */
}


@media screen and (max-width: 650px){
    .divider{
        height: 100px;
    }
    .divider-bot{
        height: 100px;
    }
    .promo-divider{
        margin-top: 5rem;
    }

    .promo-divider h2{
        font-size: 2rem;
    }
}


