.info-container{
    width: 95vw;
    height: auto;
    z-index:1;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px 10px;
    padding: .5rem;
    grid-auto-flow: dense;
    
}

.grid-item{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 10px;
}

.grid-item p{
    font-family: var(--nunito);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--black);
    text-align: justify;
    line-height: 1.8;
    margin-left: 20px;
}

.grid-item p b{
    font-family: var(--oswald);
    font-size: 1.4rem;
}

.grid-item img{
    width: 80%;
    height: 80%;
}

.grid-reverse{
    direction: rtl;
}

@media screen and (max-width: 650px){
    .info-container{
        margin-top: 1.2rem;
        gap: 0 5px;
    }
    .grid-item p{
        font-size: 1.3rem;
        text-align: center;
        margin-left: 0;
    }
    .grid-item p b{
        font-size: 1.5rem;
    }
}


