@import url('../root-variables.css');

.socialmedia-container{
    width: 100vw;
    height: 70px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
    background: var(--green);
    /* background: rgb(145,193,69);  */
    /* background: linear-gradient(90deg, rgba(145,193,69,1) 25%, rgba(0,159,227,1) 100%); */
    box-shadow: 0 5px 35px #000;
    z-index: 400;
}

.socialmedia-container a{
    text-decoration: none;
    color: var(--black);
}

.socialmedia-container a:hover{
    /* color: #273746;
    filter: drop-shadow(1px 1px .5px #000000); */
    color:var(--white);
    text-shadow:   1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #273746,
    1px 5px 1px #273746,
    1px 6px 1px #273746;
}

