:root{
    --green: #91c145;
    --blue: #009fe3;
    --white: #ECF0F1;
    --black: #1C2833;
    --cormorant: 'Cormorant Garamond', serif;
    --playfair: 'Playfair Display', serif;
    --oswald: 'Nunito', sans-serif;
    --raleway: 'Nunito',  sans-serif;
    /* --oswald: 'Oswald', sans-serif;
    --raleway: 'Raleway', sans-serif; */
  }