.burger-container{
    min-width: 40px;
    height: 40px;
    border: 3px solid var(--black);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}


.burger-bar{
    width: 30px;
    height: 5px;
    background: var(--black);
    border-radius: 5px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.b0{
    transform: translateY(-10px);
}
.b2{
    transform: translateY(10px);
}

.b1::after, .b1::before{
    content:'';
    width: 30px;
    height: 5px;
    background: var(--black);
    border-radius: 5px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.bm-active{
    background: transparent;
}
.bm-active::before{
    transform: rotate(45deg);
}
.bm-active::after{
    transform: rotate(-45deg);
}

.b-active{
    width: 5px;
    border-radius:45%;
}

@media screen and (max-width: 650px){
    .burger-container{
        display: flex;
    }
}

