:root{
  --green: #91c145;
  --blue: #009fe3;
  --white: #ECF0F1;
  --black: #1C2833;
  --nunito: 'Nunito',  sans-serif;
  --oswald: 'Oswald', sans-serif; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #009fe3;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
    background: #1C2833;
}

::-webkit-scrollbar-thumb{
    background: #91c145;
}

::-webkit-scrollbar-thumb:hover{
  background: #009fe3;
}


