@import url('../root-variables.css');

.leftmenu-container{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
}

/* .leftmenu-sublist{
    width: 100%;
    height: auto;
}

.leftmenu-container li{
    width: 100%;
    height: auto;
} */

