@import url(../root-variables.css);

.chts-container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.chts-div{
    display: flex;
    align-items: center;
    width: 300px;
    padding: .5rem;
    gap: 10px 10px;
}
.chts-div p{
    font-family: var(--oswald);
    font-size: 1.2rem;
    color: var(--black);
}

.chts-div i{
    color: var(--black);
}

@media screen and (max-width: 650px){
    .chts-div{
        width: 80vw;
    }
}